<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>[ax]</key>
	<string>[爱你]</string>
	<key>[bz]</key>
	<string>[帮助]</string>
	<key>[bhys]</key>
	<string>[不好意思]</string>
	<key>[bmb]</key>
	<string>[不明白]</string>
	<key>[dai]</key>
	<string>[呆]</string>
	<key>[fhbl]</key>
	<string>[发红包了]</string>
	<key>[fh]</key>
	<string>[发货]</string>
	<key>[fan]</key>
	<string>[烦]</string>
	<key>[haha]</key>
	<string>[打招呼]</string>
	<key>[han]</key>
	<string>[汗]</string>
	<key>[hxx]</key>
	<string>[好消息]</string>
	<key>[jd]</key>
	<string>[鸡冻]</string>
	<key>[jy]</key>
	<string>[加油]</string>
	<key>[jx]</key>
	<string>[奸笑]</string>
	<key>[mmd]</key>
	<string>[萌萌哒]</string>
	<key>[nzb]</key>
	<string>[你最棒]</string>
	<key>[nu]</key>
	<string>[怒]</string>
	<key>[lyg]</key>
	<string>[亲一个]</string>
	<key>[sq]</key>
	<string>[生气]</string>
	<key>[sb]</key>
	<string>[帅酷]</string>
	<key>[sh]</key>
	<string>[送花]</string>
	<key>[slw]</key>
	<string>[送礼物]</string>
	<key>[wa]</key>
	<string>[晚安]</string>
	<key>[xia]</key>
	<string>[吓]</string>
	<key>[xx]</key>
	<string>[谢谢]</string>
	<key>[ym]</key>
	<string>[郁闷]</string>
	<key>[yun]</key>
	<string>[晕]</string>
	<key>[zj]</key>
	<string>[再见]</string>
	<key>[ok]</key>
	<string>[OK]</string>
</dict>
</plist>
